
<form ng-submit="login()">

	<!-- username -->
	<div class="form-group">
		<label for="login-username">Username</label>
		<input name="username" id="login-username" type="text" ng-model="user.username" placeholder="Username" required>
	</div>

	<!-- password -->
	<div class="form-group">
		<label for="login-password">Password</label>
		<input name="password" id="login-password" type="password" ng-model="user.password" placeholder="Password" required>
	</div>

	<!-- recaptcha -->
	<div vc-recaptcha ng-model="recaptcha.res" class="form-group" key="recaptcha.key"></div>

	<!-- submit -->
	<button class="btn btn-default" type="submit">Submit</button>

</form>
