
/* header styles */

#home-div span {
	display: block;
}

#home-div span h3, #home-div span i {
	display: inline-block;
}

#home-div span h3 + i {
	margin-left: 5px;
}

#home-div span h3 + i + i {
	margin-left: 5px;
}

#home-div span.collapse-header:hover {
	cursor: pointer;
}





/* tutor reservation table styles */

#home-div th.date {
	min-width: 160px;
	width: 160px;
	max-width: 160px;
}

#home-div td.tutorName {
	min-width: 160px;
	width: 160px;
	max-width: 160px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

}

#home-div td.noTutors {
	text-align: center;
}

#home-div td.Available { background-color: lightblue; }
#home-div td.Reserved { background-color: darkgrey; }
#home-div td.Unavailable { background-color: lightgrey; }
