
/* general styles */

body {
	font-style: "Open Sans";
	word-wrap: break-word;
}




/* navigation bar styles */

nav {
	font-size: 16px;
}

#nav-opts {
	float: right;
}

#nav-opts li {
	display: inline-block;
}




/* imported views styles */
#imported-views {
	margin-top: 35px;
}
